    <app-header></app-header>
  <div class="for-buttons">
    <div class="row">
      <div class="col col-lg-6 col-md-6 col-sm-6 card-box" [routerLink]="['/category/1']">
        <div class="card">
          <img src="assets/images/fresh-vegetables.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="category-name">
              <p class="card-title">Fresh Vegetables</p>
            </div>
            <div class="category-arrow">
              <p>></p>
            </div>

          </div>
        </div>
      </div>
      <div class="col col-lg-6 col-md-6 col-sm-6 card-box" [routerLink]="['/category/2']">
        <div class="card">
          <img src="assets/images/fresh-fruits.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="category-name">
              <p class="card-title">Fresh Fruits</p>
            </div>
            <div class="category-arrow">
              <p>></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-6 col-md-6 col-sm-6 card-box" [routerLink]="['/category/3']">
        <div class="card">
          <img src="assets/images/dairy.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="category-name">
              <p class="card-title">Dairys and eggs</p>
            </div>
            <div class="category-arrow">
              <p>></p>
            </div>

          </div>
        </div>
      </div>
      <div class="col col-lg-6 col-md-6 col-sm-6 card-box" [routerLink]="['/category/4']">
        <div class="card">
          <img src="assets/images/edible.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="category-name">
              <p class="card-title">Edible oils and gees</p>
            </div>
            <div class="category-arrow">
              <p>></p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-6 col-md-6 col-sm-6 card-box" [routerLink]="['/category/5']">
        <div class="card">
          <img src="assets/images/cereals.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="category-name">
              <p class="card-title">Rice and attas</p>
            </div>
            <div class="category-arrow">
              <p>></p>
            </div>

          </div>
        </div>
      </div>
      <div class="col col-lg-6 col-md-6 col-sm-6 card-box" [routerLink]="['/category/6']">
        <div class="card">
          <img src="assets/images/masala.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="category-name">
              <p class="card-title">masalas and nuts</p>
            </div>
            <div class="category-arrow">
              <p>></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
