body{
  margin: 20px;
}
.navbar .container-fluid {
  display: flex;
  text-align: left;
  padding-left: 0px;
  padding-right: 112px;
}
.tac-body{
  margin-top: 145px;
  font-size: 16px;
  line-height: 30px;
}

.accept input{
  width: 15px;
  height: 15px;
}
label{
  font-weight: 600;
  padding-left: 15px;
}
button {
 width: 100%;

 margin-top: 15%;
 margin-bottom: 10px;
}
.accept{
  margin-top: 20px;
}
.under{
  text-decoration: underline;
}
